a {
  text-decoration: none;
}

/* body {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  align-items: center;
  height: 100vh;
} */

.box{
    border: 1px solid #dfdfdf;
    /* background-color: rgb(231, 228, 228); */
    width: 500px;
    padding: 35px 30px;
    overflow: hidden;
    background: rgba(128,127,131,.58);
    backdrop-filter: blur(5px);
    position: relative;
  
  
}
.button-right{
    display: flex;
    justify-content:center;
}
#recaptcha-container{
    /* margin: 13px 0px;  */
    margin-top: 15px;
    align-items: center;
    padding: auto;

}
.g-btn{
    width: 80% !important;
    height: 40px !important;
    line-height: 40px !important;
    font-size: 14px !important;
}
.g-btn > div,
.g-btn > div > svg {
  width: 40px !important;
  height: 38px !important;
}
.otpButton{
  width: 50%;
  padding: 6px;
  margin-top: 3px;
}
 .numInputs{
    margin-top: 2px;
}

.loginComponent{
  height: 80vh;
  width: 80vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}